header.header.decorated-zone
      span.header__rec(aria-hidden="true") reс
      nav.header__theme-menu
        ul.header__theme-menu-list
          li.header__theme-menu-item
            button.header__theme-menu-button.header__theme-menu-button_type_light день
            button.header__theme-menu-button.header__theme-menu-button_active(disabled) авто
            button.header__theme-menu-button.header__theme-menu-button_type_dark неон
      div.header__title-container
        h1.header__title no focus
        p.header__subtitle.title-decor Что делать, когда не можешь делать ничего#[br] Или почему нам так сложно сконцентрироваться, особенно когда очень надо