section.section
  h2.section__title Почему сосредоточиться так сложно
  div.section__article-list
    include ../cards/cards
    each card in cardsDataFirstBlock
      if card.textLink
        +cardWithLink(card.title, card.textLink)
      else
        +card(card.title, card.text)
section.section
  h2.section__title Что снижает концентрацию внимания?
  div.section__article-list
    include ../cards/cards
    each card in cardsDataSecondBlock
      if card.textLink
        +cardWithLink(card.title, card.textLink)
      else
        +card(card.title, card.text)
section.section
  h2.section__title Как концентрироваться лучше, чем золотая рыбка (то есть дольше трёхсекунд)
  div.section__article-list
    h2.section__article-list-title.title-decor 5 простых (на самом деле не очень) советов
    include ../cards/cards
    each card in cardsDataThirdBlock
      if card.textLink
        +cardWithLink(card.title, card.textLink, card.type)
      else
        +card(card.title, card.text, card.type)
section.section
  h2.section__title.title-decor.dark-title А можно в картинках?
  include ../cards/cards
  each card in cardsDataFourthBlock
    +cardImage(card.image, card.atl)
