section.section
  h2.section__title Почему сосредоточиться так сложно
  div.section__article-list
    include ../articles/article-type-one/article
section.section
  h2.section__title Что снижает концентрацию внимания?
  div.section__article-list
    include ../articles/article-type-two/article
section.section
  h2.section__title Как концентрироваться лучше, чем золотая рыбка (то есть дольше трёхсекунд)
  div.section__article-list
    include ../articles/article-type-three/article
section.section
  h2.section__title.dark-title.title-decor А можно в картинках?
  img.section__image(src="./images/sunset.png", alt="Закат", loading="lazy")
  img.section__image(src="./images/ice-cream.png", alt="Мороженное", loading="lazy")
  img.section__image(src="./images/tape.png", alt="Кассета", loading="lazy")
  img.section__image(src="./images/books.png", alt="Книги", loading="lazy")
  img.section__image(src="./images/street.png", alt="Улица", loading="lazy")